## Importing Libraries

In [61]:
from pprint import pprint
import os
import pandas as pd
import numpy as np
import warnings
import jsonschema_specifications

warnings.filterwarnings("ignore")

### Loading the data

In [62]:
df = pd.read_json(r"E:\customer_churn_prediction\data\raw\customer_churn_mini.json", lines=True)
df.head()

,ts,userId,sessionId,page,auth,method,status,level,itemInSession,location,userAgent,lastName,firstName,registration,gender,artist,song,length
0,1538352117000,30,29,NextSong,Logged In,PUT,200,paid,50,"Bakersfield, CA",Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,Freeman,Colin,1.538173e+12,M,Martha Tilston,Rockpools,277.89016
1,1538352180000,9,8,NextSong,Logged In,PUT,200,free,79,"Boston-Cambridge-Newton, MA-NH","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",Long,Micah,1.538332e+12,M,Five Iron Frenzy,Canada,236.09424
2,1538352394000,30,29,NextSong,Logged In,PUT,200,paid,51,"Bakersfield, CA",Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,Freeman,Colin,1.538173e+12,M,Adam Lambert,Time For Miracles,282.82730
3,1538352416000,9,8,NextSong,Logged In,PUT,200,free,80,"Boston-Cambridge-Newton, MA-NH","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",Long,Micah,1.538332e+12,M,Enigma,Knocking On Forbidden Doors,262.71302
4,1538352676000,30,29,NextSong,Logged In,PUT,200,paid,52,"Bakersfield, CA",Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...,Freeman,Colin,1.538173e+12,M,Daft Punk,Harder Better Faster Stronger,223.60771

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 286500 entries, 0 to 286499
Data columns (total 18 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ts             286500 non-null  int64
 1   userId         286500 non-null  object
 2   sessionId      286500 non-null  int64
 3   page           286500 non-null  object
 4   auth           286500 non-null  object
 5   method         286500 non-null  object
 6   status         286500 non-null  int64
 7   level          286500 non-null  object
 8   itemInSession  286500 non-null  int64
 9   location       278154 non-null  object
 10  userAgent      278154 non-null  object
 11  lastName       278154 non-null  object
 12  firstName      278154 non-null  object
 13  registration   278154 non-null  float64
 14  gender         278154 non-null  object
 15  artist         228108 non-null  object
 16  song           228108 non-null  object
 17  length         228108 non-null  float64
dtypes: float64(2), int64(4), object(12)
memory usage: 39.3+ MB

In [64]:
df.describe()

,ts,sessionId,status,itemInSession,registration,length
count,2.865000e+05,286500.000000,286500.000000,286500.000000,2.781540e+05,228108.000000
mean,1.540957e+12,1041.526555,210.054597,114.414213,1.535359e+12,249.117182
std,1.507544e+09,726.776263,31.505078,129.767262,3.291322e+09,99.235179
min,1.538352e+12,1.000000,200.000000,0.000000,1.521381e+12,0.783220
25%,1.539697e+12,336.000000,200.000000,27.000000,1.533522e+12,199.888530
50%,1.540932e+12,1013.000000,200.000000,70.000000,1.536664e+12,234.500770
75%,1.542266e+12,1675.000000,200.000000,156.250000,1.537672e+12,277.158730
max,1.543799e+12,2474.000000,404.000000,1321.000000,1.543247e+12,3024.665670

In [65]:
df.describe(include="O")

,userId,page,auth,method,level,location,userAgent,lastName,firstName,gender,artist,song
count,286500,286500,286500,286500,286500,278154,278154,278154,278154,278154,228108,228108
unique,226,22,4,2,2,114,56,173,189,2,17655,58480
top,39,NextSong,Logged In,PUT,paid,"Los Angeles-Long Beach-Anaheim, CA","""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",Campbell,Payton,F,Kings Of Leon,You're The One
freq,9632,228108,278102,261064,228162,30131,22751,14060,9632,154578,1841,1153

In [66]:
df.isnull().mean() * 100

ts                0.000000
userId            0.000000
sessionId         0.000000
page              0.000000
auth              0.000000
method            0.000000
status            0.000000
level             0.000000
itemInSession     0.000000
location          2.913089
userAgent         2.913089
lastName          2.913089
firstName         2.913089
registration      2.913089
gender            2.913089
artist           20.381152
song             20.381152
length           20.381152
dtype: float64

In [67]:
print(df[df['firstName'].isnull()].shape[0])

8346

In [68]:
df[df['firstName'].isnull()].head()

,ts,userId,sessionId,page,auth,method,status,level,itemInSession,location,userAgent,lastName,firstName,registration,gender,artist,song,length
57,1538355745000,,8,Home,Logged Out,GET,200,free,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,1538355807000,,8,Help,Logged Out,GET,200,free,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,1538355841000,,8,Home,Logged Out,GET,200,free,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,1538355842000,,8,Login,Logged Out,PUT,307,free,103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,1538356678000,,240,Home,Logged Out,GET,200,free,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### There are a lot of events that are not related to any user.

In [69]:
events = df[(df['userId'] != '')]
events.shape

(278154, 18)

In [70]:
# Count comparison
original_count = len(df)
filtered_count = len(events)

print(f"Total rows of events with filtering: {filtered_count} | Total amount of events without filtering: {original_count}")

Total rows of events with filtering: 278154 | Total amount of events without filtering: 286500

In [71]:
#full dataset
whole_df = pd.read_json(r"E:\customer_churn_prediction\data\raw\customer_churn.json", lines=True)
whole_df.shape

(543705, 18)

In [72]:
full_events = whole_df[whole_df['userId'] != '']
full_events.shape

(528005, 18)

#### Making sure that there is no intersections between train and test data to avoid data leakage

In [73]:
print("Total users on small dataset", events['userId'].nunique())
print("Total users on full dataset", full_events['userId'].nunique())

Total users on small dataset 225
Total users on full dataset 448

In [74]:
# Get unique user IDs from both datasets
train_users = set(events['userId'].dropna().unique())
test_users = set(full_events['userId'].dropna().unique())

# Find overlapping users
overlapping_users = train_users.intersection(test_users)

print(f"Number of overlapping users: {len(overlapping_users)}")

Number of overlapping users: 224

In [82]:
# Get a sample overlapping user ID
sample_user = list(overlapping_users)[2]

# Get one row from each dataset for this user
sample_train_row = events[events['userId'] == sample_user].iloc[0]
sample_test_row = full_events[full_events['userId'] == sample_user].iloc[0]

In [83]:
print(f"Sample overlapping user ID: {sample_user}")
print("\nSample row from training set (events):")
print(sample_train_row)

Sample overlapping user ID: 100003

Sample row from training set (events):
ts                                                   1539100420000
userId                                                      100003
sessionId                                                        3
page                                                      NextSong
auth                                                     Logged In
method                                                         PUT
status                                                         200
level                                                         free
itemInSession                                                    0
location                 Miami-Fort Lauderdale-West Palm Beach, FL
userAgent        Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...
lastName                                                     Jones
firstName                                                   Nevaeh
registration                                       1537309344000.0
gender                                                           F
artist                                             Black Eyed Peas
song                                                    Gone Going
length                                                   193.88036
Name: 216619, dtype: object

In [84]:
print("\nSample row from test set (full_events):")
print(sample_test_row)

Sample row from test set (full_events):
ts                                                   1539100420000
userId                                                      100003
sessionId                                                        3
page                                                      NextSong
auth                                                     Logged In
method                                                         PUT
status                                                         200
level                                                         free
itemInSession                                                    0
location                 Miami-Fort Lauderdale-West Palm Beach, FL
userAgent        Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) G...
lastName                                                     Jones
firstName                                                   Nevaeh
registration                                       1537309344000.0
gender                                                           F
artist                                             Black Eyed Peas
song                                                    Gone Going
length                                                   193.88036
Name: 411419, dtype: object

In [78]:
# Get the list of overlapping user IDs (assuming you already have this)
overlapping_users = list(overlapping_users)  # Convert set to list if needed

# Remove all rows from test data that have these user IDs
full_events_clean = full_events[~full_events['userId'].isin(overlapping_users)]

# Verify the removal
print(f"Original test data size: {len(full_events)}")
print(f"Cleaned test data size: {len(full_events_clean)}")
print(f"Rows removed: {len(full_events) - len(full_events_clean)}")

# Check if any overlapping users remain in the cleaned test data
remaining_overlap = set(full_events_clean['userId']).intersection(set(overlapping_users))
print(f"Number of overlapping users remaining: {len(remaining_overlap)}")

Original test data size: 528005
Cleaned test data size: 248377
Rows removed: 279628
Number of overlapping users remaining: 0

In [ ]:
# Define the directory path
directory = r"E:\customer_churn_prediction\data\interim"
# Define the full file path
file_path = os.path.join(directory, "cleaned_test_data.json")
# Save the cleaned test data to JSON format
full_events_clean.to_json(file_path, orient='records', lines=True)

Cleaned test data saved to: E:\customer_churn_prediction\data\interim\cleaned_test_data.json
File size: 248377 records

In [87]:
print(f"Cleaned test data saved to: {file_path}")
print(f"Total Records: {len(full_events_clean)}")

Cleaned test data saved to: E:\customer_churn_prediction\data\interim\cleaned_test_data.json
Total Records: 248377

In [92]:
file_path = os.path.join(directory, "events.json")
events.to_json(file_path, orient='records', lines = True)